<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Hotel</title>
</head>
<body>
<h1>Add Hotel</h1>
<form th:action="@{/hotels/add}" th:object="${hotel}" method="post">
    Name: <input type="text" th:field="*{name}"/><br/>
    City: <input type="text" th:field="*{city}"/><br/>
    Country: <input type="text" th:field="*{country}"/><br/>
    Price per night: <input type="text" th:field="*{pricePerNight}"/><br/>
    Available Rooms: <input type="number" step="0.01" th:field="*{availableRooms}"/><br/>
    <button type="submit">Add Hotel</button>
</form>
<a href="/flights">Back to list</a>
</body>
</html>
